* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* UTILITY CLASSES */
.text-primary {
  color: #93cb52;
}
.bg-light {
  background-color: #f2f2f2;
  color: #333;
}
.bg-primary {
  background-color: #93cb52;
  color: #fff;
}

.bg-dark {
  background-color: #333;
  color: #f2f2f2;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93cb52;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background: #7ab436;
}
.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn-primary {
  background-color: #93cb52;
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}
.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.p-2 {
  padding: 2rem;
}

.text-center {
  text-align: center;
}
.list {
  margin: 0.5rem 0;
  list-style: none;
}
.list li {
  padding: 0.5rem 0;
  list-style: none;
  border-bottom: 1px dashed #444;
}
/* NAVBAR */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1rem;
}
#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar > ul > li > a:hover {
  background-color: #93cb52;
  border-radius: 5px;
}

/* SHOWCASE ARES */
.showcase {
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}
.showcase .showcase-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 2rem;

  /* Overly */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* WHAT SECTION */
#what .items {
  display: flex;
  padding: 1rem;
}

#what .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}
#what .items .item i {
  background: #93cb52;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* WHO WE ARE SECTION */
#who {
  display: flex;
}
#who div {
  flex: 1;
}
#who .who-img {
  background: url("../img/people.jpg") no-repeat center center/cover;
}

/* Client */

#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  width: 60%;
}

/* Contact us section */
#contact {
  display: flex;
}
#contact div {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}
#contact .contact-form .form-group label {
  display: block;
}

#contact .contact-form .form-group input,
#contact .contact-form .form-group textarea {
  width: 100%;
  padding: 0.5rem;
}

#map {
  overflow: hidden;
}
